.intro {
    margin-bottom:40px;

    .heading {
        margin-bottom:20px;
        @media (min-width:$bp-phablet) {
            margin-bottom:40px;
        }
    }

    .paragraph {
        text-align:justify;
    }

         p {
    padding-bottom: 10px;
    }

}