/* COLORS */

$color-white: #ffffff;
$color-black: #000000;
$color-dark: #222421;
$color-grey: #979797;
$color-light: #ccc;
$color-lighter: #e3e3e3;
$color-lightest: #eeeeee;
$color-red: #448aff;
$color-main: #448aff;
/*
$color-red: #b22d2d;*/


/* SIZES */

$width-container: 1004px;
$height-header: 55px;
$height-nav: 110px;
$height-nav-mobile: 60px;

/* BREAK POINTS */

$bp-min: 320px;
$bp-phone: 480px;
$bp-phablet: 640px;
$bp-tablet: 768px;
$bp-smalldesktop: $width-container + 8;