.intro {
	margin:0 20px;
	padding-bottom:$height-nav;
	overflow:hidden;

    body.in-app & {
        margin:0;
        padding-bottom:20px;
    }

    .heading {
        width:96%;
        margin-left:auto;   
    }

    .paragraph {
        width:96%;
        margin:auto;
        padding:0;
		body.in-app & {
			width:auto;
			text-align:left;
			padding:0 10px;
		}
    }
}