.paragraph {
    font-family:'Roboto';
    color:$color-dark;
    font-size:15px;
    line-height:20px;
    text-align:justify;
    overflow:hidden;

    &--oneline {
        font-size: 18px;
        font-style:italic;
        text-align:center;
    }

    p {
    	margin:0;
    }

    &--altlink {
        text-align: center;
        text-decoration: underline;
    }

    --altlink:hover {
        color: $color-main;
    }


}