.share {
    display:inline-block;
    line-height:40px;
    padding:0 15px;
    margin-left:5px;
    transition:background-color 0.1s;
    border-radius:3px;
    color:#FFF;
    font-weight:500;
    font-size:16px;
    text-decoration:none;
    vertical-align:top;
    cursor:pointer;

    &:first-child {
        margin-left:0;
    }

    &:last-child:after {
        content:' ';
        display:block;
        clear:both;
    }

    &:before {
        display:inline-block;
        width:18px;
        height:18px;
        font-family:'FontAwesome';
        font-size:18px;

        @media (min-width:$bp-tablet) {
            float:left;
        }
    }

    &__label {
        display:none;

        @media (min-width:$bp-tablet) {
            display:inline-block;
            padding-left:5px;
            float:left;
        }
    }

    &--facebook {
        background-color:#3b5998;
        &:before {
            content:'\f09a';
        }
        &:hover {
            background-color:rgba(#3b5998, 0.9);
        }
    }

    &--twitter {
        background-color:#26b0e6;
        &:before {
            content:'\f099';
        }
        &:hover {
            background-color:rgba(#26b0e6, 0.9);
        }
    }

    &--google {
        background-color:#d44132;
        &:before {
            content:'\f0d5';
        }
        &:hover {
            background-color:rgba(#d44132, 0.9);
        }
    }

}